:root {

    /* cell styling */
    --cell-border-left-color: rgba(255, 255, 255, 0.20);
    --cell-border-top-color: rgba(255, 255, 255, 0.33);
    --cell-border-right-color: rgba(0, 0, 0, 0.15);
    --cell-border-bottom-color: rgba(0, 0, 0, 0.5);

    --cell-color-0: #eaeaea;
    --cell-color-1: #0000ff;
    --cell-color-2: #ff0000;

    --cell-size: 20px;
    --cell-border-width: 5px;

    /*cell grid styles*/
    --cols: 10;
    --rows: 18;
}